@use '@/styles/variables.scss';

:local(.cardContent) {
  display: flex;
  align-items: flex-end;
}

.button__small {
  margin-right: 1.5rem;
  margin-bottom: 2rem;

  visibility: hidden;
  opacity: 0;

  transition:
    visibility 0.25s,
    opacity 0.25s ease-out;

  &:hover :global(.icon__active) {
    fill: variables.$color-white;
  }
}

.services {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 3rem;
  }

  &__item {
    display: flex;
    align-items: flex-end;

    width: calc(100% * (1 / 3) - 80px);
    min-width: 20.5rem;
    height: 18.75rem;

    background-color: variables.$color-white-element;
    background-size: 0;

    transition-delay: 0.6s;
    transition-property: background-size;

    &:hover {
      background-size: cover;

      .services__item-title {
        color: variables.$color-white;
      }

      .button__small {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__item-title {
    max-width: 17.5rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;

    font-size: 32px;
    line-height: 36px;
    color: variables.$color-default;
    text-wrap: wrap;
  }
}
