@use '@/styles/variables.scss';

.icon-block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 1.75rem;

  transition: transform 0.5s;

  &:hover {
    transform: rotate(180deg);
  }

  svg {
    max-height: 100%;
  }

  &--big {
    height: 2.8125rem;
  }
}
