@use '@/styles/variables.scss';

.gallery {
  display: flex;
  gap: 0.5em;

  margin-top: 3rem;

  @include variables.sm {
    flex-direction: column;
  }

  @include variables.md {
    flex-direction: column;
  }

  &__item {
    display: flex;

    width: 12vw;
    height: 83vh;

    transition: width 0.7s ease-in-out;

    @include variables.sm {
      width: 83vw;
      height: 10vh;

      transition: height 0.6s ease-in-out;
    }

    @include variables.md {
      width: 83vw;
      height: 10vh;

      transition: height 0.6s ease-in-out;
    }

    &__active {
      width: 38vw;

      @include variables.sm {
        width: 83vw;
        height: 40vh;
      }

      @include variables.md {
        width: 83vw;
        height: 40vh;
      }
    }

    &__block {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      width: inherit;
      margin-bottom: 1.85em;
      padding: 1.5em 2em;

      @include variables.sm {
        margin-bottom: 0.85em;
      }

      @include variables.md {
        margin-bottom: 0.85em;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__title {
          font-size: 3.25rem;
          color: variables.$color-white;
        }

        &__details {
          font-size: 1.25rem;
          color: variables.$color-white;
          text-wrap: nowrap;
        }
      }
    }
  }
}

/* Transitions */

.info-enter-active {
  transition: opacity 200ms ease-in 300ms;
}

.info-leave-active {
  transition: opacity 200ms ease-out;
}

.info-enter-from,
.info-leave-to {
  opacity: 0;
}
