@use '@/styles/variables.scss';

.gallery {
  display: flex;
  gap: 0.5em;

  height: 700px;
  margin-top: 3rem;

  &__item {
    overflow: hidden;

    width: 10.3125em;

    &__block {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      padding: 35.25em 1.5em 2em;

      &__info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__title {
          font-size: 3.25rem;
          color: variables.$color-white;
        }

        &__details {
          font-size: 1.25rem;
          color: variables.$color-white;
          text-wrap: nowrap;
        }
      }
    }
  }
}
