@use "@/styles/variables.scss";

.roomsGallery {
  display: flex;
  gap: 8px;

  height: 700px;
  margin-top: 48px;
}

.singleCard {
  width: 167px;

  transition: width 0.7s ease-in 0.4s;

  &:hover {
    width: 650px;
  }
}

.cardDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  padding: 564px 24px 34px;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.7s, opacity 0.5s ease-out 0.8s;
}

.singleCard:hover .cardDetailsWrapper {
  visibility: visible;
  opacity: 1;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardName {
  font-size: 52px;
  color: variables.$color-white;
}

.cardDetails {
  font-size: 20px;
  color: variables.$color-white;
  text-wrap: nowrap;
}
