@use 'vue-ionicons/ionicons.scss';

@use '@/styles/variables.scss';

.faqs {
  display: flex;
  flex-direction: column;

  width: 100%;

  &__faq {
    cursor: pointer;

    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    margin-bottom: 2rem;

    @include variables.sm {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    @include variables.md {
      margin-top: 1.3rem;
      margin-bottom: 1.3rem;
    }

    &:hover {
      :global(.icon__active) {
        fill: variables.$color-main;
      }
    }

    &__header {
      display: flex;
      align-items: center;

      margin-right: 3em;

      &__marker {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 3rem;
        height: 3rem;
        margin-right: 1.25rem;

        :global(.icon__active) {
          fill: variables.$color-default;
        }
      }

      &__question {
        padding-top: 0.375rem;

        font-size: 2.25rem;
        line-height: 1.2;

        @include variables.sm {
          font-size: 1.8rem;
        }

        @include variables.md {
          font-size: 1.8rem;
        }
      }

      &__opened {
        color: variables.$color-main;

        :global(.icon__active) {
          fill: variables.$color-main;
        }
      }
    }

    &__answer {
      overflow: hidden;

      max-height: 0;
      margin-top: 0.625rem;
      margin-left: 4.25rem;

      font-size: 1.25rem;
      line-height: 1.49rem;
      word-break: break-word;
      overflow-wrap: break-word;

      opacity: 0;

      transition:
        max-height 0.5s,
        opacity 0.5s;

      &__opened {
        max-height: 6.25rem;

        opacity: 1;
      }
    }
  }
}

.icon__active {
  transform: rotate(180deg);
}

.divider {
  display: block;

  width: 100%;
  height: 0.0625rem;

  border-top: 0.0625rem solid variables.$color-default-divider;
}
