@use '@/styles/variables.scss';

.hero-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.875em;

    max-width: 80vw;
    margin-bottom: 10vh;
    padding: 0 2.5em;

    @include variables.md {
      padding: 0 1.25em;
    }

    &__title {
      font-size: 10.8rem;
      line-height: 0.694;
      color: variables.$color-white;
      vertical-align: middle;

      @include variables.sm {
        font-size: 5.5rem;
        line-height: 0.77;
      }
    }

    &__description {
      padding-left: 0.45rem;

      font-size: 1.45rem;
      color: variables.$color-white;
    }

    &__button {
      margin-top: 0.3125em;
    }
  }

  :global(.primaryButton) {
    color: variables.$color-default;
  }
}
