@use '@/styles/variables.scss';

.image-gallery {
  overflow: hidden;
  display: flex;
  gap: 1em;

  height: 31.25em;

  @include variables.sm {
    flex-direction: column;
  }

  &__item {
    width: calc(33.333%);

    @include variables.md {
      min-width: 12em;
      height: 31.25em;
    }

    @include variables.sm {
      width: 100%;
    }
  }
}
