@use './variables.scss';

/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;

  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  user-select: none;

  padding: 0;

  font-family: inherit;
  color: inherit;

  background: none;
  border: none;
}

input {
  font-family: variables.$font-family-default;
}

textarea {
  font-family: variables.$font-family-default;
}

/* Globals */

body,
html {
  height: 100%;

  font-family: variables.$font-family-default;
  font-weight: 400;
  color: variables.$color-default;

  background-color: variables.$color-white;
}

.container {
  padding: 120px 40px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.rowLayout {
  display: flex;
  flex-direction: row;
}

.anchorLink {
  display: block;

  width: fit-content;

  font-size: 32px;
  color: variables.$color-white-dim;
}

@include variables.md {
  .container {
    max-width: variables.container-max-width(md);
  }
}
