/* Colors */

$color-default: #2e3732;
$color-default-light: #2e373266;
$color-default-divider: #2e37321a;
$color-default-border: rgb(46 55 50 / 0.1);
$color-default-shadow: rgb(46 55 50 / 0.3);
$color-transparent: rgb(0 0 0 / 0);
$color-main: #f60;
$color-white: #fefefe;
$color-white-light: rgb(255 255 255 / 0.5);
$color-white-dim: rgb(255 255 255 / 0.8);
$color-white-border: rgb(255 255 255 / 0.1);

/* Fonts */

@font-face {
  font-family: 'Golden Wood';
  font-weight: 400;
  src:
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Golden Wood';
  font-weight: 500;
  src:
    url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

$font-family-default: 'Golden Wood', arial, helvetica, sans-serif;

/* Breakpoints */

$breakpoints: (
  sm: 700px,
  md: 1024px,
  lg: 1600px,
);

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

/* Mixins for responsive layout */

@mixin sm {
  @media (max-width: #{breakpoint(sm)}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{breakpoint(md)}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{breakpoint(lg)}) {
    @content;
  }
}

/* Container */

$container-max-widths: (
  sm: 576px,
  md: 960px,
  lg: 1280px,
);

@function container-max-width($key) {
  @return map-get($container-max-widths, $key);
}
