@use "@/styles/variables.scss";

.imageCard {
  position: relative;

  background-image: inherit;
  background-position: center;
  background-size: cover;
  border: 1px solid variables.$color-default-border;
  border-radius: 10px;

  &:hover {
    .gradientLayer {
      opacity: 1;
    }
  }
}

.cardContent {
  position: relative;
  z-index: 10;
}

.gradientLayer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  background: linear-gradient(16deg, variables.$color-default-shadow 35%, variables.$color-transparent 65%);
}
