@use '@/styles/variables.scss';

@mixin button-styles {
  display: flex;
  align-items: center;

  width: fit-content;
  padding: 0.5rem 1rem;

  font-weight: 400;
  color: variables.$color-default;

  background-color: variables.$color-white;
  border-radius: 2rem;
}

.button__default {
  @include button-styles;

  font-size: 1.25rem;

  &:hover {
    color: variables.$color-white;

    background-color: variables.$color-main;
  }
}

.button__large {
  @include button-styles;

  padding: 1.365rem 2.05rem;

  font-size: 2.25rem;

  border-radius: 2.73rem;

  &:hover {
    color: variables.$color-main;
  }
}
