@use '@/styles/variables.scss';

.list-block {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-size: 32px;
    color: variables.$color-white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;

    &__item {
      font-size: 20px;
      line-height: 23.86px;
      color: variables.$color-white-light;
    }
  }
}
