@use '@/styles/variables.scss';

.list-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__title {
    font-size: 2rem;
    color: variables.$color-white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;

    &__item {
      font-size: 1.25rem;
      line-height: 2.05rem;
      color: variables.$color-white-light;
    }
  }
}
