@use '@/styles/variables.scss';

.contact-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.125rem;

  background-color: variables.$color-main;

  @include variables.sm {
    flex-direction: column;
    gap: 1.5em;
    align-items: flex-start;
  }

  &__header {
    gap: 1.5em;

    @include variables.sm {
      gap: 1rem;
    }

    & > *:first-child {
      color: variables.$color-white;
    }

    & > *:last-child {
      color: variables.$color-white-light;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 7.5em 3.125em;
  padding-bottom: 3.125em;

  background-color: variables.$color-default;

  @include variables.sm {
    padding: 3em 2em;
    padding-bottom: 1.5em;
  }

  @include variables.md {
    padding: 5em 1.5em;
    padding-bottom: 2em;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 0;

    @include variables.sm {
      flex-direction: column;
      gap: 3em;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      margin-right: 2em;

      @include variables.sm {
        gap: 1.25em;
      }

      @include variables.md {
        gap: 1.25em;
      }

      &__title {
        font-size: 4.875em;
        color: variables.$color-white;

        @include variables.sm {
          font-size: 3em;
        }

        @include variables.md {
          font-size: 3em;
        }
      }

      &__description {
        max-width: 39rem;

        font-size: 1.5rem;
        line-height: 1.79rem;
        color: variables.$color-white-light;

        @include variables.sm {
          font-size: 1.25em;
        }

        @include variables.md {
          font-size: 1em;
          line-height: 1.2;
        }

        &__emphasized {
          padding-left: 0.25rem;

          color: variables.$color-white;
        }
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      gap: 5em;

      margin-right: 2.125em;

      @include variables.sm {
        gap: 2em;
      }

      @include variables.md {
        gap: 2em;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include variables.sm {
      flex-direction: column-reverse;
      gap: 1.8em;
    }

    @include variables.md {
      flex-direction: column-reverse;
      gap: 1.8em;
    }

    &__copyright {
      font-size: 1em;
      color: variables.$color-white-light;
    }

    &__social-links {
      display: flex;
      flex-direction: row;
      gap: 2.5em;
      align-items: center;

      color: variables.$color-white;

      @include variables.sm {
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: center;
      }

      &__item {
        font-size: 1.25em;
        white-space: nowrap;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 0.0625em;

  border-top: 0.0625em solid variables.$color-white-border;
}

.link {
  display: block;

  width: fit-content;

  font-size: 2rem;
  color: variables.$color-white-dim;

  @include variables.sm {
    font-size: 1.6em;
  }

  @include variables.md {
    font-size: 1.4em;
  }
}
