@use '@/styles/variables.scss';

.contact-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 50px;

  background-color: variables.$color-main;

  &__header {
    gap: 24px;

    & > *:first-child {
      color: variables.$color-white;
    }

    & > *:last-child {
      color: variables.$color-white-light;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 120px 50px;
  padding-bottom: 50px;

  background-color: variables.$color-default;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 0;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__title {
        font-size: 78px;
        color: variables.$color-white;
      }

      &__description {
        max-width: 624px;

        font-size: 24px;
        line-height: 28.63px;
        color: variables.$color-white-light;

        &__emphasized {
          padding-left: 4px;

          color: variables.$color-white;
        }
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      gap: 80px;

      margin-right: 50px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__copyright {
      font-size: 16px;
      color: variables.$color-white-light;
    }

    &__social-links {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;

      color: variables.$color-white;

      &__item {
        font-size: 20px;
        white-space: nowrap;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;

  border-top: 1px solid variables.$color-white-border;
}
