@use '@/styles/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__title {
    font-size: 3rem;
    color: variables.$color-default;

    @include variables.sm {
      font-size: 2.625rem;
    }

    &__large {
      font-size: 4.875rem;

      @include variables.sm {
        font-size: 2.625rem;
      }
    }
  }

  &__description {
    max-width: 39rem;

    font-size: 1.5rem;
    line-height: 1.79rem;
    color: variables.$color-default-light;

    @include variables.sm {
      font-size: 1.25rem;
    }

    &__emphasized {
      padding-left: 0.25rem;

      color: variables.$color-default;
    }
  }
}
