@use '@/styles/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__title {
    font-size: 3rem;
    color: variables.$color-default;

    &__large {
      font-size: 4.875rem;
    }
  }

  &__description {
    max-width: 39rem;

    font-size: 1.5rem;
    line-height: 1.79rem;
    color: variables.$color-default-light;

    &__emphasized {
      padding-left: 0.25rem;

      color: variables.$color-default;
    }
  }
}
