@use '@/styles/variables.scss';

.button__small {
  display: flex;
  align-items: center;

  width: 5.25rem;
  height: 3.75rem;
  padding: 0.75rem 1.5rem;

  background-color: variables.$color-white;
  border-radius: 3rem;

  &:hover {
    background-color: variables.$color-main;

    :global(.icon__active) {
      fill: variables.$color-white;
    }
  }
}

.icon-block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  width: 5.25rem;
  height: 2.8125rem;

  svg {
    width: 100%;
  }
}
