@use '@/styles/variables.scss';

@mixin icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 1.625rem;

  svg {
    max-height: 100%;
  }
}

.link {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  vertical-align: middle;

  .iconArrow {
    @include icon-wrapper;
  }

  &:hover,
  &:focus {
    color: variables.$color-main;

    .iconArrow {
      @include icon-wrapper;

      display: block;

      :global(.colorElement) {
        fill: variables.$color-main;
      }
    }
  }
}

.iconArrow :global(.colorElement) {
  fill: variables.$color-white;
}

.iconArrowHidden {
  @include icon-wrapper;

  display: none;
}
